*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #bb2bc3e0;
    --secondary-color: #dce377;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
}

header {
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: -3px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 50%;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s ease;
}

button[type="submit"]:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}